.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-button {
  padding: 2px 10px;
}

.Controls-info {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.Controls-span {
  padding: 0 20px 0 12px;
  font-weight: 600;
}
